# keep media directories but not what's inside them
Media/backups/*
!Media/backups/.gitkeep
Media/drums/*
!Media/drums/.gitkeep
Media/samples/*
Media/samples/.gitkeep
Media/soundpacks/*
Media/soundpacks/.gitkeep
Media/synths/*
Media/synths/.gitkeep

*.pyc